extends layout

block content
  h1 Production Controller
  hr
  .row
    .col-md-6
      h2 Task board
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Locations
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 DB
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Overview
      p See current status of all plants.  
      p
        a.btn.btn-raised(href='#', role='button') View details »